<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.jmf.spotify</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>02101459-06CE-49B2-85CE-9FC0714540C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF94A45E-B6C2-4F92-B5DB-97AFC77B6BAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>18100079-36D3-4282-A6D4-F390E8AA5599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>140E4EE6-40F9-4190-A225-E6AC11032078</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1D9F6DFC-C529-4F15-87F6-21411ED5A5A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C91183F-BF34-4962-9D35-8FEA0E12C4D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3DE85027-490F-4FCC-AF6E-07B8114D2420</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>462311F7-BD2C-47BA-8B68-C1BCDC1FE067</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>462311F7-BD2C-47BA-8B68-C1BCDC1FE067</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EF64D91-FCE8-4719-A2D7-DC810242EA30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76E427F2-EAF9-45A5-8EEC-DDC257F119B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1E3B1EC-C409-4EE8-822F-93E764C1E485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>841F121F-C8BB-4D3B-B408-F49E2A559F9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D9F6DFC-C529-4F15-87F6-21411ED5A5A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>88DFCE59-1B8A-42B1-8ECF-14DF806C8DA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EF64D91-FCE8-4719-A2D7-DC810242EA30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ACBC7BB6-71D4-4117-88F0-237D83275055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6D23F4B-618C-48A8-A0BD-87BA6BAFB0EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6D23F4B-618C-48A8-A0BD-87BA6BAFB0EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>600B0A0D-A79D-4E7F-B0C5-8CE1144E9A5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BF94A45E-B6C2-4F92-B5DB-97AFC77B6BAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>600B0A0D-A79D-4E7F-B0C5-8CE1144E9A5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0CE8C6F-676F-4AF1-8689-E8CD0ACD70D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB7A51C1-26DF-43ED-8DE0-F87098B72C4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D1E3B1EC-C409-4EE8-822F-93E764C1E485</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EF64D91-FCE8-4719-A2D7-DC810242EA30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB7A51C1-26DF-43ED-8DE0-F87098B72C4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>600B0A0D-A79D-4E7F-B0C5-8CE1144E9A5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBCBE4EE-6C75-4006-8699-BFBD4134A578</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D9F6DFC-C529-4F15-87F6-21411ED5A5A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC090907-8DC0-4D26-A2AC-C0F696C8759B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88DFCE59-1B8A-42B1-8ECF-14DF806C8DA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Fagan</string>
	<key>description</key>
	<string>Controls spotify from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:pause</string>
				<key>text</key>
				<string>Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18100079-36D3-4282-A6D4-F390E8AA5599</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify" to pause</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>140E4EE6-40F9-4190-A225-E6AC11032078</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify" to play</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>88DFCE59-1B8A-42B1-8ECF-14DF806C8DA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:play</string>
				<key>text</key>
				<string>Play</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC090907-8DC0-4D26-A2AC-C0F696C8759B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify" to next track</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1E3B1EC-C409-4EE8-822F-93E764C1E485</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:next</string>
				<key>text</key>
				<string>Play Next Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76E427F2-EAF9-45A5-8EEC-DDC257F119B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:previous</string>
				<key>text</key>
				<string>Play Previous Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3DE85027-490F-4FCC-AF6E-07B8114D2420</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify" to previous track</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>462311F7-BD2C-47BA-8B68-C1BCDC1FE067</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Alfred 2"	run trigger "playing" in workflow "io.jmf.spotify"end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>1EF64D91-FCE8-4719-A2D7-DC810242EA30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify"
	set trackName to name of current track
	set artistName to artist of current track
	set albumName to album of current track
	set msg to artistName
	set msg to msg &amp; " - " &amp; trackName
	set msg to msg &amp; "\n" &amp; albumName 

	if player state as text is equal to "playing" then
		return msg
	end if
end tell

</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D9F6DFC-C529-4F15-87F6-21411ED5A5A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Spotify is now playing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4C91183F-BF34-4962-9D35-8FEA0E12C4D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:playing</string>
				<key>text</key>
				<string>What is playing now?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EBCBE4EE-6C75-4006-8699-BFBD4134A578</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>playing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>841F121F-C8BB-4D3B-B408-F49E2A559F9A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:repeat</string>
				<key>text</key>
				<string>Toggle Repeat</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>02101459-06CE-49B2-85CE-9FC0714540C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Spotify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>600B0A0D-A79D-4E7F-B0C5-8CE1144E9A5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify"	set repeating to not repeating	return "Repeat is now " &amp; item ((repeating as integer) + 1) of {"off", "on"}	end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF94A45E-B6C2-4F92-B5DB-97AFC77B6BAE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify"	set shuffling to not shuffling	return "Shuffling is now " &amp; item ((shuffling as integer) + 1) of {"off", "on"}	end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB7A51C1-26DF-43ED-8DE0-F87098B72C4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:shuffle</string>
				<key>text</key>
				<string>Toggle Shuffle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0CE8C6F-676F-4AF1-8689-E8CD0ACD70D3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Spotify"	set the clipboard to spotify url of current track as textend tell

return "Url is now on the clipboard"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6D23F4B-618C-48A8-A0BD-87BA6BAFB0EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp:url</string>
				<key>text</key>
				<string>Copies current track Url to clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ACBC7BB6-71D4-4117-88F0-237D83275055</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A Spotify (http://spotify.com/) control workflow for Alfred 2.

Provides the following:

sp:next      Play the next track
sp:pause		Pause the current track
sp:play		Play the current track
sp:playing	Display what is currently playing 
sp:previous	Play the previous track
sp:repeat	Toggle repeat mode
sp:shuffle	Toggle shuffle mode
sp:url		Copies the Spotify Url to the clipboard

I hope you find this workflow useful, you are completely free use this workflow as a basis for other projects.

Enjoy,

Jason Fagan</string>
	<key>uidata</key>
	<dict>
		<key>02101459-06CE-49B2-85CE-9FC0714540C4</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>140E4EE6-40F9-4190-A225-E6AC11032078</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>18100079-36D3-4282-A6D4-F390E8AA5599</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1D9F6DFC-C529-4F15-87F6-21411ED5A5A4</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>1EF64D91-FCE8-4719-A2D7-DC810242EA30</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3DE85027-490F-4FCC-AF6E-07B8114D2420</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>462311F7-BD2C-47BA-8B68-C1BCDC1FE067</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>4C91183F-BF34-4962-9D35-8FEA0E12C4D1</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>600B0A0D-A79D-4E7F-B0C5-8CE1144E9A5D</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>76E427F2-EAF9-45A5-8EEC-DDC257F119B1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>841F121F-C8BB-4D3B-B408-F49E2A559F9A</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>88DFCE59-1B8A-42B1-8ECF-14DF806C8DA9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>ACBC7BB6-71D4-4117-88F0-237D83275055</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>B6D23F4B-618C-48A8-A0BD-87BA6BAFB0EC</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>BF94A45E-B6C2-4F92-B5DB-97AFC77B6BAE</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>D0CE8C6F-676F-4AF1-8689-E8CD0ACD70D3</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>D1E3B1EC-C409-4EE8-822F-93E764C1E485</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DB7A51C1-26DF-43ED-8DE0-F87098B72C4F</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>EBCBE4EE-6C75-4006-8699-BFBD4134A578</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>EC090907-8DC0-4D26-A2AC-C0F696C8759B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jmf.io/</string>
</dict>
</plist>
